$primary-color: #343432;
$secondary-color: teal;
$tertiary-color: white;
$quaternary-color: #9933FF;
$quinary-color: rgb(154, 218, 27);


@media screen and (min-width: 600px){
    body {
    background-color: $primary-color;
    font-family: 'Chewy', cursive;
    color: $tertiary-color;  
}
}

@media screen and (max-width: 600px) {
    body{
    background-color: $secondary-color;
    font-family: 'Chewy', cursive;
    color: $tertiary-color;
    }
  }

  @media screen and (min-width: 600px) {
    .navbar a.icon {display:none;}
  }
  
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      margin-left: 35%;
    }
  }
  .icon {
    color:$tertiary-color;
    margin-left: 35%;
  }

  @media screen and (max-width: 600px) {
    .navbar.responsive {
      position:relative;
      flex-wrap: wrap;
    }
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      display:block;
     position: relative;  
      padding: 0px 8px;
      font-size: 20px; 
      flex-basis: 45%; 
      margin-bottom: 10%; 
      
    }  
    .navbar.responsive h1{
      margin-top:1%;
      text-align: right;
      display:inline-block;
      color:#e646b6;
      margin-left: 5%;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar.responsive .navtitle {
      flex-wrap: wrap;
      margin-bottom: 60px;
    } 
    
  }

  .logo {
    width: 10%;
    height: 5%;
    margin-bottom: 1%;
    margin-left: 9%;
  }
  .logo2 {
    margin-left: 82%;
    width: 10%;
    height: 8%
  }
  
  
  .first-sec {
    margin-left: 7%;
  }
  
  .result {
    margin-left: 5%;
    margin-top: 10%;
    display: inline-flex;
    width: 45%; 
    height: 20%;
  }
  #results {
    margin-left: 2.5%;
  }
  #searchbox {
    width:10%;
  }

  .box {
    display: inline-flex;
    margin-left: 5%;
  }
  div>h1 {
    margin-left:30%;
  }
  
  .navbar {
    display: inline-flex;
    overflow: hidden;
    margin-left: 3%;
    margin-right: 3%;
   
  }
  .navbar>h1 {
    margin-left: 7%;
    color: yellowgreen;
  }
  
  .navbar>a {
    color:$tertiary-color;
    display: inline-flex;
    margin-left:7%;
    
    margin-top: 3%;
    font-size:large;
  .navbar>img {
    padding: .3%;
  }
  }

  #img {
    display: inline-block;
    vertical-align: middle;
    justify-content: space-between;
    border-radius: 20px;
    border-color: $quaternary-color;
    border-style: solid;
    margin-left: 7%;
    height: 200px;
    width: 200px;
    padding: 0.5%;
    
  }
  .space {
    background-color:$quinary-color;
    border-radius: 10px;
  }